
@import '../../variables.scss';

.admin-header{
    height: $adminHeaderHeight;
    padding: 0 30px;
}

.content{
    height: calc(100vh - $adminHeaderHeight) ;
    width: 100vw ;
    padding: 10px 30px;
} 